* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
.container-fluid {
	padding: 0 120px;
}
.topnav_bdy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
#topid {
     background: #fff; 
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
}
#topid .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    padding: 0;
}
.top_navsec li.nav-item {
    padding-right: 50px;
}
.top_navsec li.nav-item a {
	font-weight: 500;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #000 !important;	
}
.top_navsec .nav-link.active {
    color: rgb(228 57 46) !important;
}
.top_navsec .nav-link:hover{
   color:rgb(228 57 46) !important;
}
.banner_info_parent{
	  position: relative;
	  overflow: hidden;
	  background-repeat: no-repeat;
	  background-position: 100% 100%;
	  object-fit: cover;
      z-index: 0;
}
.banner_info_child{
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	
	left: 120px;
	right: 120px;

}
.banner_info_child h1, .banner_info_child p {
	color: #fff;

}
.banner_info_child h1{
	font-size: 70px;
	font-weight: 700;
	padding-bottom: 10px;
	position: relative;
	line-height: 1.2;
	text-transform: uppercase;	
}
.banner_info_child p {
	font-size: 20px;
     line-height: 24px;

}
.common_btn{
	padding: 20px 40px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 0;
	outline: none;
	transition: 0.6s;

}
.common_btn:hover{
	 background-color: rgb(228 57 46);
	 border-color:rgb(228 57 46) ;
}
.about_little{
	padding:80px 0px;
}

.sumalya{
	overflow: hidden;
}
.sumalya img{
	object-fit: cover;
	width: 100%;
	height: 550px;
	

}
.common_header h2{
   font-size: 60px;
   text-transform: uppercase;
   line-height: 1;
   position: relative;
   font-weight: 700;
   padding-bottom: 40px;
}
.common_header h3{
   font-size: 40px;
   text-transform: capitalize;
   line-height: 1;
   position: relative;
   font-weight: 600;
   padding-bottom: 20px;
}
.common_header p{
   font-size: 20px;
}


form input{
	border: none;
	outline: none;
	border-bottom: 5px solid #cdc;

}
form textarea{
	width: 100%;

}
.grp input{
  width: 50%;

}
#name_info_validation{
	padding-bottom: 2px;
	color: red;
}
#lname{
	float: right;
	width: 49%;
	margin-bottom: 15px;
}
#fname{
	float: left;
	width: 49%;
	margin-bottom: 15px;
}
#email{
	float: left;
	width: 49%;
	margin-bottom: 15px;
}
#phone{
	float: right;
	width: 49%;
	margin-bottom: 15px;
}
form textarea{
	height: 200px !important;
	margin-bottom: 15px;
}
.andi{
	text-align: center;
}
.andi {
	position: relative;
}
.andi img {
	width: 600px;
	height: 600px;
}
.andi img {
	border-radius: 100%;
	object-fit: cover;
	z-index: 0;  
	
}
.andi:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 600px;
    background: linear-gradient(to bottom, rgba(0,47,75,0.2) 40%,rgba(228, 57, 46, 0.7) 100%); /* W3C */
    border-radius: 100%;

}
.bg-wh{
	margin-top: 100px;
	background-color: #edf0f5;
}
.contact_info{
	background: url('images/globe-map.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 70px 0px;

}
.form-control {
	height: 60px;
	border: 2px solid #00ae3f; /* logo colour */
	padding: 0 20px;
	font-size: 20px;
}

.ctn_number {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 50px;
	color:#F4EEEE;
	font-size: 16px;
	z-index: 1;
}
.ctn_number a{
	text-decoration: none;
	color: white;

}
.ctn_number h5{
	font-weight: 700;
	font-size: 24px;
}
.fa1{
	color: #00ae3f;
}
.mb-4{
	font-size: 22px;
}

.client_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.swiper-slide{
	transition:all 200ms linear;
	transforms: scale(0.8);
	align align-items: center;
	display: flex;
}
.swiper-slide-active{
	transform: scale(1);
	background: #00ae3f;
}
.swiper-slide-active .review_bdy{
	padding: 30px 20px;
}
.swiper-slide-active .client_rev h4, .swiper-slide-active .client_rev p, .swiper-slide-active .client_rev h5 {
	color: #fff;
}
.revbsl_outr {
	position: relative;
}
.revbsl_outr .swiper-button-next {
    right: -40px;
    left: auto;
}
.revbsl_outr .swiper-button-prev{
    left: -40px;
    right: auto;
}
.nav_tab_nt{
	margin-top: 50px;
	padding: 90px 0px;
	position: relative;
	background-color:#1D1C1C;
}
.nav_tab_nt .common_header h2{
	color: #fff;

}
.ceh .nav-tabs .active{
	background-color: #00ae3f;
	color: #fff;
	border-color: #00ae3f;
}
.ceh .nav-item{
	font-size: 20px;
	font-weight: 600;
    background-color: #fff;
    color: #000;
    border-radius: 0;
}
.ceh .nav-item:not(:last-child) {
    border-right: 1px solid #666;
}

.tab-pane{
	color: #fff;
	text-align: justify;
	font-size: 20px;
}



.faq_bdy .card-header{
	background-color: #00ae3f;
	
}
.card-header a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	
}
.clr
{
	width: 300px;
	height: 300px !important;
}

/*.tab-content .col-md-3 img{
	height: 300px;
	width: 450px;

}*/





#menuchck{
	display: none;

}
.menuicn{
	display: grid;
	width: 32px;
	height: 3px;
	background-color: #bcbdc4;
	margin-bottom: 3px;

}
.hbr_menu_bdy{
	 display: none;
}

.hbr_mnu_bdy{
	background-color:#fff;
	padding: 10px;
	display: hidden;
	right: 0;
	position: fixed;
	transform: translateX(280px);	
	width: 200px;
	transition: transform 500ms ease-in-out;
	z-index: 1;
}
.mnudnone{
	transform: translateX(0px);
}
